* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: ferry;
  src: local("ferry_black"), url("../fonts/ferry_black.woff2") format("woff2"), url("../fonts/ferry_black.woff") format("woff"), url("../fonts/ferry_black.eot") format("eot");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.eot") format("eot");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html, body {
  font-family: Montserrat, sans-serif;
  color: #191E20;
  line-height: 120%;
  font-weight: 400;
  font-size: 14px;
}

h1 {
  font-family: Ferry, sans-serif;
  color: #191E20;
  font-weight: 900;
  font-size: 40px;
  line-height: 130%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.conteiner {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
.header {
  background-color: #191E20;
}
.header__top {
  padding: 20px 0;
}
.header__bottom {
  padding: 17px 0;
}

.htop__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.htop__inner::after {
  position: absolute;
  display: block;
  content: "";
  top: 185%;
  left: 0;
  background: #fff;
  opacity: 0.2;
  border: 1px solid #E0E1EB;
  width: 100%;
}
.htop__navigation--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.htop__navigation--item {
  margin-right: 46px;
}
.htop__navigation--item:last-child {
  margin: 0;
}
.htop__navigation--link {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.htop__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.htop__language--rus {
  margin-right: 24px;
  color: #FFFFFF;
  opacity: 1;
  font-weight: 600;
}
.htop__language--ukr {
  position: relative;
  color: #FFFFFF;
  opacity: 0.3;
  font-weight: 600;
}
.htop__language--ukr::before {
  position: absolute;
  display: block;
  content: "";
  top: -50%;
  left: -12px;
  background: #fff;
  -webkit-transform: translate(50%);
      -ms-transform: translate(50%);
          transform: translate(50%);
  height: 32px;
  opacity: 0.3;
  border: 1px solid #FFFFFF;
}
.hbottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hbottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hbottom__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 37px;
}
.hbottom__search--input {
  width: 490px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.5;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 4px;
  font-weight: 500;
  color: #fff;
  padding-left: 17px;
  padding-right: 44px;
  margin-right: -44px;
}
.hbottom__search--input::-webkit-input-placeholder {
  color: #8A8A99;
  opacity: 1;
}
.hbottom__search--input::-moz-placeholder {
  color: #8A8A99;
  opacity: 1;
}
.hbottom__search--input:-ms-input-placeholder {
  color: #8A8A99;
  opacity: 1;
}
.hbottom__search--input::-ms-input-placeholder {
  color: #8A8A99;
  opacity: 1;
}
.hbottom__search--input::placeholder {
  color: #8A8A99;
  opacity: 1;
}
.hbottom__search--button {
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  border: 2px solid #474FA0;
  border-radius: 4px;
  z-index: 1;
}
.hbottom__video--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 182px;
  height: 44px;
  background-color: #BC0209;
  border-radius: 4px;
  margin-right: 24px;
}
.hbottom__video--name {
  height: 100%;
  padding-top: 12px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
}
.hbottom__video--youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ED1C24;
  width: 44px;
  height: 44px;
  border-radius: 4px;
}
.hbottom__icons--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 24px;
}
.hbottom__icon--item {
  margin-right: 13px;
  width: 41px;
  height: 41px;
}
.hbottom__icon--item:last-child {
  margin-right: 0;
}
.hbottom__icon--link {
  display: block;
  width: 100%;
  height: 100%;
}
.hbottom__icon--link svg {
  width: 100%;
  height: 100%;
}
.hbottom__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 18px;
}
.hbottom__phone--numder {
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 4px;
}
.hbottom__phone--text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #FE4B09;
  padding-left: 18px;
  position: relative;
}
.hbottom__phone--text::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 0;
  background: url("../images/header/tel.svg");
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 13px;
  height: 13px;
}