.block {
  width: 150px;
  height: 150px;
  transition-property: border;
  transition-duration: 3s;
  transition-delay: 2s;
  border: 5px solid #000;
}
.block {
  width: 150px;
  height: 150px;
  transition:border 3s 2s;
  border: 5px solid #000;
}

