.title{
position: relative;
display: flex;
align-items: center;
justify-content: center;


}
.title::after,
.title::before {
  display: block;
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 3px;
}
.title::before {
  background-color: #1500ff;
  left: 0;
}
.title::after {
  background-color: #ff0000;
  right: 0;
}